.player
  .player__hands
    %h2.player__hands-title あなたの手札
    - player.hands.each do |hand|
      %span.player__hand
        = link_to hand.char, '', class: 'player__hand-selector', data: { hand_id: hand.id, hand_char: hand.char }
