.members
  %h2 参加者
  - room.active_members.order(:id).each do |member|
    = render 'rooms/member', member: member, active: true
  - room.away_members.order(:id).each do |member|
    = render 'rooms/member', member: member, active: false
